body { 
   background-color: #B0E0E6;
   width: 100vw;
   height: 100vh;
}

.main-soof {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   img {
      max-width: 100%;
   }
}

.drag {
   position: absolute;

   img {
      cursor: move;
      max-width: 100%;
   }
 }

 .drag.is-dragging img { 
    filter: drop-shadow(0 0 5px #7FFF00); 
   }

   .drag.square {
      width: 150px;
      height: 150px;
      background-color: orange;
   }




