.main-soof {
   max-width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

   img {
      transform: scale(0.25);
   }
}

.drag {
   position: absolute;
   top: 0;
   left: 0;

   img {
      cursor: move;
      max-width: 25%;
   }
 }

 .drag.is-dragging img { 
    filter: drop-shadow(0 0 5px #7FFF00); 
   }

 body { 
    background-color: #B0E0E6;
 }


